body {
    background: #F0F0F0;
    font-family: "Anton Regular", Anton, sans-serif;
}
p{
    font-family: "abel regular", abel, sans-serif;
}


@media screen and (min-width:300px) {
    h1 {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width:649px) {
    h1 {
        font-size: 60px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}

.navbar {
    /*background: #F0F0F0;*/
}
.logo {
    background-image: url("/img/logo.png");
    height: 105px;
    width: 105px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.rCircle {
    background-color: #E6563B;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.oCircle{
    background-color: #EB9D3A;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gCircle {
    background-color: #7CB06C;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tCircle{
    background-color: #00ABA9;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallCircle {
    height: 20px;
    width: 20px;
}

.imgBackground {
    background-image: url("/img/apple-ipad.jpg");
    width: 400px;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 10px solid #E6E6E6;
    margin: 0;
    padding: 0;
}
.imgBackground2 {
    background-image: url("/img/macbook.jpg");
    width: 400px;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 10px solid #E6E6E6;
    margin: 0;
    padding: 0;
}

.imgBackground3 {
    background-image: url("/img/man.jpg");
    width: 400px;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 10px solid #E6E6E6;
    margin: 0;
    padding: 0;
}

.imgBackground4 {
    background-image: url("/img/security.jpg");
    width: 400px;
    height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 10px solid #E6E6E6;
    margin: 0;
    padding: 0;
}



.test {
    margin: auto;
    padding: 0;
}